@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<link rel="stylesheet" href="~/css/register.css" />

<header>
    <h1>@ViewData["Title"]</h1>
    <p class="description">You have successfully logged out of the application.</p>
</header>