@page
@model MascotaFeliz.App.Frontend.Pages.EditarPropietarioModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Formulario para la modificación de propietarios</title>
    <link rel="stylesheet" href="~/css/properties.css" />
</head>

<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">Actualización de propietarios</h1>
        <p id="description" class="description text-center">Modifica los datos del propietario aquí.</p>
    </header>

    <form method="post" class="survey-form">
        <input asp-for="Propietario.Id" type="hidden"/>

        <div class="form-group">
            <label id="label" asp-for="Propietario.Nombre" class="control-label">Nombre</label>
            <input asp-for="Propietario.Nombre" id="nombre" class="form-control"/>
        </div>

        <div class="form-group">
            <label id="label" asp-for="Propietario.Apellido" class="control-label">Apellido</label>
            <input asp-for="Propietario.Apellido" id="apellido" class="form-control"/>
        </div>

        <div class="form-group">
            <label id="label" asp-for="Propietario.Cedula" class="control-label">Cedula</label>
            <input asp-for="Propietario.Cedula" id="cedula" class="form-control"/>
        </div>

        <div class="form-group">
            <label id="label" asp-for="Propietario.NumeroTelefono" class="control-label">Número Teléfono</label>
            <input asp-for="Propietario.NumeroTelefono" id="telefono" class="form-control"/>
        </div>

        <div class="form-group">
            <label id="label" asp-for="Propietario.Direccion" class="control-label">Dirección</label>
            <input asp-for="Propietario.Direccion" id="direccion" class="form-control"/>
        </div>

        <div class="form-group">
            <label id="label" asp-for="Propietario.Email" class="control-label">Email</label>
            <input asp-for="Propietario.Email" id="email" class="form-control"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
    </form>

</div>