@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/index.css" />

<body>
    <section class="head-container">
        <div class="text-center">
            <h1 class="">Veterinaria Mascota Feliz</h1>
            <p>
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada
                feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed
                magna
                dictum porta.
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada
                feugiat.
            </p>
            <p>
                Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
            </p>
        </div>

        <div class="img-mascota">
            <img src="~/images/illustrations/2x/veterinarian-illustration-14.png" alt="veterinario-atendiendo-mascota"
                class="illustration">
        </div>
    </section>

    <section class="container">
        <div class="et_pb_row et_pb_row_1">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div
                    class="et_pb_module et_pb_text et_pb_text_2 et_hover_enabled et_clickable  et_pb_text_align_left et_pb_bg_layout_dark">
                    <div class="et_pb_text_inner">Nuestros servicios</div>
                </div>
                <div
                    class="et_pb_module et_pb_text et_pb_text_3 et_hover_enabled et_clickable et_pb_section_video_on_hover  et_pb_text_align_right et_pb_bg_layout_light">
                    <div class="et_pb_text_inner">Separe su cita</div>
                </div>
            </div>
        </div>
    </section>

<section class="body-container">
        <div class="text-center">
            <h2 class="">La mejor atención para tu mascota</h2>
            <p>
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed
                magna dictum porta.
            </p>
        </div>

        <div class="img-vet">
            <img src="~/images/illustrations/1x/veterinarian-illustration-16.png" alt="veterinario-atendiendo-mascota"
                class="illustration">
        </div>
    </section>

    <section class="main-container">
        <h2 class="our-services">Nuestros servicios</h2>
        
        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Propietarios</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-8.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Ingresa nuevos propietarios y consulta los datos de todos los propietarios existentes en veterinaria
                            <strong>Mascota Feliz</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="/Propietarios/ListaPropietario" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Mascotas</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-14.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Ingresa nuevas mascotas y consulta los datos de todos las mascotas existentes en veterinaria
                            <strong>Mascota Feliz</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="/Mascotas/ListaMascota" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Veterinarios</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-9.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Ingresa nuevos veterinarios y consulta los datos de todos los veterinarios existentes en veterinaria
                            <strong>Mascota Feliz</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="/Veterinarios/ListaVeterinario" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Visitas</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-16.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Ingresa nuevas visitas y consulta los registros de todas las visitas efectuadas por veterinaria
                            <strong>Mascota Feliz</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="/RegistroVisitas/ListaRegistroVisita" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Medicamentos</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-10.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at
                            <strong>Stanford University</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Móvil App</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-6.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at
                            <strong>Stanford University</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Hospitalización</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-2.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at
                            <strong>Stanford University</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="fullCard" id="thumbnail">
            <div class="cardContent">
                <div class="cardText">
                    <h3>Transporte</h3>
                    <div>
                        <img src="~/images/icons/2x/veterinarian-icon-3.png" alt="jarabe-para-mascotas" class="icon">
                    </div>
                    <hr>
                    <p><em>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at
                            <strong>Stanford University</strong>.</em>
                    </p>
                </div>
                <div class="cardLinks">
                    <a asp-page="" target="" class="btn btn-primary">INGRESAR</a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-container">
        <div class="img-mascota">
            <img src="~/images/illustrations/1x/veterinarian-illustration-2.png" alt="veterinario-atendiendo-mascota"
                class="illustration">
        </div>
        <div class="text-center">
            <h2 class="">Veterinarios altamente capacitados</h2>
            <p>
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed
                magna dictum porta.
            </p>
        </div>
    </section>

    <section class="container">
        <div class="et_pb_module et_pb_text et_pb_text_21 et_hover_enabled et_clickable  et_pb_text_align_right et_pb_bg_layout_dark">
            <div class="et_pb_text_inner">Conoce nuestros veterinarios</div>
        </div>
    </section>

    <section class="container">
        <h2 class="contact-us">Contáctanos</h2>
        <div class="">
            <P class="text-contact-us">
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies
                ligula sed magna dictum porta.
                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero
                malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies
                ligula sed magna dictum porta.
            </P>
        </div>
        <div class="img-mascota">
            <img src="~/images/illustrations/2x/veterinarian-illustration-13.png" alt="veterinario-atendiendo-mascota"
                class="illustration">
        </div>
    </section>
</body>


</html>
