@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}

<link rel="stylesheet" href="~/css/properties.css" />

<h1 id="title" class="text-center">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
