
h1 {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

h4 {
    font-size: 18px;
}

.description {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-style: italic;
    text-align: center;
}

.register-login-form {
    width: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: rgb(245, 245, 245);
    color: #495057;
    padding: 2.5rem 3.5rem 1.5rem 3.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: auto auto 20px auto;
}

.btn-primary {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    margin-top: 8px;
    margin-bottom: 5px;
}

#label {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    margin-bottom: 4px;        
}

.form-control {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 5px;
}